* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}
