@import 'init.scss';
@import 'font.scss';

body {
  color: white;
  font-family: 'Roobert';
  font-weight: normal;
}

.italic {
	font-family: 'times new roman';
	font-style: italic;
}

.loader-screen {
	width: 100vw;
	height: 100vh;
	background: rgba(240,240,240,1);
	color: black;
	position: absolute;
	z-index: 10;
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	justify-content: center;


	.counter {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 1.5rem;

		.number {
			justify-self: end;
		}
	}
}

section {
	background-color: #1C1C1C;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100vh;
	width: 100vw;

	.content {
		position: relative;
		grid-column: 2;
		align-self: center;
		justify-self: center;
		z-index: 2;
		font-size: 1.6rem;

		h1 {
			text-transform: uppercase;
			font-size: 3rem;
  		font-weight: bold;

			//line-height: 0.9em;
		}

		.italic {
			font-size: 2.2rem;
			line-height: 0.8em;
		}

		h2 {
			font-size: 1.4rem;
		}

		.color-part {
			margin-top: 2em;

			#color-select {
				display: flex;
				button {
					width: 20px;
					height: 20px;
					margin-right: 10px;
					border-radius: 50%;
					background-color: grey;
					cursor: pointer;
				}

				.custom-color {
					font-size: 1rem;
					position: relative;

					.Scp {
						display:none;
						position: absolute;
						bottom: 100%;
					}

					.toggle {
						cursor: pointer;
					}
				}
			}
		}

		.size-nb {
			margin-top: 2em;
			width: 150%;
			display: grid;
			grid-template-columns: 1fr 1fr;

			.size-part, .nb-part {
				display: grid;
				grid-template-columns: auto auto;
			}

			.size-part {
				select {
					width: 40px;
				}
			}
		}
	}
}


canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}