@import 'init.scss';
@import 'font.scss';

body {
	color: white;
	font-family: 'Roobert';
	font-weight: normal;
	position: relative;
}

.italic {
	font-family: 'times new roman';
	font-style: italic;
}

.loader-screen {
	width: 100vw;
	height: 100vh;
	background: rgba(240,240,240,1);
	color: black;
	position: absolute;
	z-index: 10;
	font-size: 1.2rem;
	//display: none;
	display: flex;
	align-items: center;
	justify-content: center;


	.counter {
		display: grid;
		grid-template-columns: 1fr 1fr;
		font-size: 1.5rem;

		.number {
			justify-self: end;
		}

	}
}

section {
	background: black;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 3vw;

	#main-info {
		grid-column: 2;
		grid-row: 1;
		justify-self: end;

		.description{

		}

		.price {
			
		}
	}

	#select-preset {
		grid-column: 1;
		grid-row: 2;
		align-self: end;

		ul {
			display: grid;
			grid-auto-flow: column;
			justify-content: start;
			button {
				$height: 15px;
				height: $height;
				width: $height;
				margin-right: $height;
				background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
			}
		}

	}	

	#custom-color {
		grid-column: 2;
		grid-row: 2;
		justify-self: end;
		align-self: end;

		#picker {
			//transform: rotate(90deg);
			$height: 10px;
			position: relative;
			z-index: 2;

			.IroSlider {
				height: calc(#{$height} * 1.8);
			}

			.IroSliderBg {
				rx: 0;
				ry: 0;
				height: $height;
			}

			.IroHandle {

			}

			.IroBoxBg {
				rx: 0;
				ry: 0;
			}
		}
	}
}

#handleSvg {
	display: none;
}


canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: 1;
}